@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

:root {
}
* {
	font-family: 'Nunito Sans', sans-serif;
}
body {
}
#app {
	max-width: 20%;
	padding: 1rem 3rem;
	margin: 2rem;
	border: solid 5px var(--main-bg-color);
	outline-offset: 1rem;
	/* outline: 3px solid var(--main-bg-color); */
	outline: 1rem solid #363636;
}
#pixi {
}

#outerContainer {
	display: flex;
}
