@import url('https://fonts.googleapis.com/css2?family=Cutive&display=swap');

:root {
}
* {
	font-family: 'Cutive', serif;
}
body {
}
.menu {
	position: absolute;
	top: 4px;
	left: 0px;
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	color: white;
	width: 80%;
	margin: 0 10%;
	justify-content: space-around;
}
.menu > h1 {
	font-size: 16pt;
	margin: 10px;
}
#app {
	/* max-width: 20%;
	padding: 1rem 3rem;
	margin: 2rem;
	border: solid 5px var(--main-bg-color);
	outline-offset: 1rem;
	/* outline: 3px solid var(--main-bg-color); */
	/* outline: 1rem solid #363636;  */
	max-width: 50%;
	background-color: #ffffff;
}
#pixi {
}

#outerContainer {
	display: flex;
	flex-direction: row;
}

iframe {
	z-index: 2;
	position: absolute;
	opacity: 1;
}

#loading {
	z-index: 1;
	height: 100%;
	width: 100%;
	position: relative;
	opacity: 0.7;
}

#container {
	display: flex;
}
@media only screen and (min-width: 600px) {
	.menu {
		top: 10px;
	}
	.menu > h1 {
		font-size: 28pt;
	}
}
