@import url('https://fonts.googleapis.com/css2?family=Cutive&display=swap');

* {
  font-family: 'Cutive', serif;
}
body {
  background-color: #1b1c2b;
  touch-action: pan-y;
}

.menu {
  position: absolute;
  top: 4px;
  left: 0px;
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  color: white;
  width: 80%;
  margin: 0 10%;
  justify-content: space-around;
}
.menu > h1 {
  font-size: 16pt;
  margin: 10px;
  cursor: pointer;
}

#outerContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#container {
  background-color: #f9eee0;
  width: 25vw;
}

iframe {
  z-index: 2;
  position: absolute;
}

#loading {
  width: 25vw;
  display: flex;
  flex-flow: column wrap;
  z-index: 1;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#loading > h1 {
  font-size: 14pt;
}

#atul {
  padding-top: 25vh;
  position: relative;
}

@media only screen and (min-width: 600px) {
  .menu {
    top: 10px;
  }
  .menu > h1 {
    font-size: 25pt;
  }
}

@media only screen and (max-height: 500px) {
  .menu > h1 {
    font-size: 17pt;
  }
}
